@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, a, dl, dt, dd, ol, ul, li, footer, header
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* align, border, input */
img, fieldset, a {border: none;}
img{vertical-align: middle;}
ul,ol,li {list-style: none;}
a {text-decoration: none; color: #000;}
* {box-sizing: border-box;}

.left {float: left;}
.clear::after {content: ''; display: block; clear: both;}

@font-face {
  font-family: 'ELAND_Choice_M';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h2 {font-family: 'EliceDigitalBaeum_Bold'; font-size: 20px;}
* {font-family: 'Noto Sans KR', sans-serif;}
/* //초기화 */

/* sectioning */
#header {width: 100%; height: 100px; z-index: 12;}
#introduce {width: 100%; height: 100vh;position: relative; background-color: #f4efdc;}
#career {width: 100%; background-color: #f4efdc;}
#portfolio {width: 100%; height: 1200px; background: #f4efdc;}
#contact {width: 100%; height: auto; background-color: #f4efdc;}
#footer {width: 100%; height: 100px; background-color: #f4efdc;}

.modal {display: none;}



/* header(nav) */
#header {position: fixed; top: 0; left: 0;}
.gnb {max-width: 1200px; height: 100%; margin: 0 auto;}
.main {display: block; width: 100%; height: 100%;}
.menu {display: block; width: 25%; height: 100%; text-align: center; font-size: 14px; box-sizing: border-box; line-height: 80px;cursor: pointer; padding: 10px 0;}
.menu:hover {background-color: #ddd; transition: all 0.2s;}


/* fadeInUp/ 스크롤 감지하여 나타나는 모션 */
.animate__fadeInUp {
  display: inline-block;
  margin: 0;
  animation: fadeInUp;
  animation-duration: 2s;
}

/* introduce */
.typo {max-width: 1200px; display: flex; margin: 0 auto; padding-top: 290px;}
.t-text {
  width: 100%;
  height: 100%;
  text-align: justify;
  line-height: 30vh;
  display: none;
  box-sizing: border-box;
  padding: 50px;
  font-size: 5vh;
  font-family: 'EliceDigitalBaeum_Bold';
}

/* stacks */
.cc {width: 33.33%; height: 340px; float: left; background-color: #fff; margin: 0; padding: 0 10px;}

/* career */
.history {max-width: 1200px; height: 540px; margin: 0 auto; display: block;}
.skills {max-width: 1200px; height: 540px; margin: 0 auto; position: relative; display: block;}
.skills h2 {display: block; max-width: 500px; height: 50px; text-align: center; margin: 0 auto; line-height: 50px;}
.skills dl {display: block; width: 100%; height: 340px; margin-top: 50px;}
.skills dt {display: block; width: 10%; height: 100%; float: left; font-size: 0;}
.skills dd {display: block; width: 90%; height: 100%; float: left;}
.skills dd ul {display: block; width: 100%; height: 100%;}
.skill {display: block; width: 100%; height: 20%; line-height: 68px; margin: 2vh 0;}
.skill h3 {display: block; width: 10%; height: 100%; float: left; font-size: 0;}
.skill:nth-child(1) h3 {background: url(../images/html5.png) center no-repeat; background-size: contain;}
.skill:nth-child(2) h3 {background: url(../images/css3.png) center no-repeat; background-size: contain;}
.skill:nth-child(3) h3 {background: url(../images/jq.png) center no-repeat; background-size: contain;}
.skill:nth-child(4) h3 {background: url(../images/js.png) center no-repeat; background-size: contain;}
.skill:nth-child(5) h3 {background: url(../images/vue.png) center no-repeat; background-size: contain;}
.history h2 {display: block; max-width: 500px; height: 100px; text-align: center; margin: 0 auto; line-height: 100px;}


/* 로딩바 */
.progressArea {
  float: left;
  width: 90%;
  height: 100%;
}
.progress {
  position: relative;
  width: 100%;
  height: 30px;
  top: calc(50% - 15px);
  background-color: transparent;
}
.bar {
  background-color: #365FB7;
  width: 0;
  height: 50%;
  border-radius: 50px;
}
.label {
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  line-height: 15px;
  font-size: 8px;
}

/* portfolio */
#portfolio h2 {
  display: block;
  max-width: 1200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}
.p_wrap {
  max-width: 1200px; 
  height: 1030px; 
  margin: 0 auto;
}
.p_con {
  width: 44%; 
  height: 500px;
  float: left;
  background-color: rgba(0,0,0,0);
  position: relative;
  margin: 0 3%;
}
.p1, .p2 {margin-bottom: 30px; margin-top: 30px;}
.p_cover {width: 100%; height: 100%; position: absolute; top: 0; left: 0; font-size: 30px; text-align: center; line-height: 500px; color: rgba(0,0,0,0);}
.p_link {display: block; width: 100%; height: 100%; font-size: 0; background-position: top; background-size: cover; background-repeat: no-repeat; border-radius: 25px; overflow: hidden;}
.p1 a {background-image: url(../images/modal/adererror/index.jpg);}
.p2 a {background-image: url(../images/modal/cafeerip/index.jpg);}
.p3 a {background-image: url(../images/modal/adererror/sub1.jpg);}

/* contact */
.comment_wrap {max-width: 1200px; min-height: 500px; height: auto; position: relative; margin: 0 auto; box-sizing: border-box; display: block;}
.comment_wrap h2 {display: block; width: 20%; height: auto; float: left; padding: 70px 0;}
.con_method {width: 80%; height: 100%; float: left; padding: 70px 0;}
.qna_answer {display: none;}
.faq {display: block; width: 80%; height: 100%; position: relative; float: left;}
.qna {display: block; width: 100%; height: 20%; position: relative;}
.qna_answer {position: relative; padding: 30px; line-height: 1.5;}
.qna_title {margin: 0; display: block; height: 70px; line-height: 70px;  border-bottom: 1px solid; cursor: pointer;}
.op_answer {width: 50px; height: 50px; position: absolute; right: 0; margin-top: 10px; background-color: #888; border: none; background: url(../images/slideDown.png) center; background-size: cover; cursor: pointer;}
.op_answer.on{background: url(../images/slideUp.png) center; background-size: cover; cursor: pointer;}
.contact_wrap {max-width: 1200px; height: auto; position: relative; margin: 0 auto;display: block;}
.contact_wrap h2 {display: block; width: 20%; height: 100%; float: left; box-sizing: border-box; padding: 70px 0;}
.cm {display: block; width: 100%; height: 50px; font-size: 14px;}
.cm i {display: block; width: 10%; float: left; height: 100%;text-align: center;}
.cm a, .cm p {display: block; width: 90%; float: left; height: 100%; margin: 0;}
.cm i, .cm a, .cm p{color: #666; cursor: pointer;}


/* footer */
#footer {font-size: 20px; color: #ddd; background-color: #555; text-align: center; line-height: 100px;}


/* 모달레이어 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  z-index: 500;
  overflow: auto;
  overflow-y: hidden;
}
.adererror, .cafeerip, .profile {display: none;}

.m_con {
  background: #eee;
  padding: 20px;
  width: 50vw;
  height: 90vh;
  margin: 0 auto;
  margin-top: 5vh;
  border: 1px solid #555;
  overflow-y: hidden;
}
.m_ing {
  text-align: center;
}
.m_ing p {
  display: block;
  width: 40vw;
  height: 100%;
  text-align: left;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 3vw;
}
.m_ing > div {
  width: 40vw;
  height: 50vh;
  background-size: contain;
  margin: 0 auto;
}
.m_ad > div {background: url('../images/modal/adererror/index.jpg') center no-repeat; background-size: contain;}
.m_ce > div {background: url('../images/modal/cafeerip/index.jpg') center no-repeat; background-size: contain;}
.m_pr > div {background: url('../images/modal/adererror/index.jpg') center no-repeat; background-size: contain;}
.m_ing a {display: block; width: 40vw; height: 10vh; line-height: 10vh; text-align: left; margin: 0 auto;}
.m_con .close{
  color: #999 ;
  font-size: 24px;
  font-weight: bold;
  float: right;
}
.m_con .close:hover {
  color: #000;
  cursor: pointer;
}

/* 모바일 레이아웃 */
.mo_gnb {width: 100%; height: 100vh; position: fixed; z-index: 100; background: rgba(0,0,0,0.5); display: none;}
/* 모바일 메뉴버튼 */
.mb { display : inline-block ; width : 20px ; height : 23px ; position : fixed ; top : 13px ; left: 10px ; background : none ; cursor : pointer; border-bottom: none; z-index: 1999;}
.mb span {display : inline-block ; position : absolute ; left : 0 ; width : 100% ; height : 1px ; background-color : #333 ; transition : ease-out .2s ; transform-origin : center center}
.mb span:nth-child(1) {top: 5px;}
.mb span:nth-child(2) {top: 11px;}
.mb span:nth-child(3) {top: 17px;}
.mb.on span:nth-child(1) {transform: rotate(45deg); top: 11px;}
.mb.on span:nth-child(2) {left: 50%; width: 0;}
.mb.on span:nth-child(3) { transform: rotate(-45deg); top: 11px;}
/* 모바일 메뉴창 */
.mo_gnb_wrap {width: 60vw; height: 100vh; background: #eee; position: relative; animation: menuSlide .2s;}
.mo_gnb_wrap.menuSlide {animation: menuClose .2s;}
.mo_menu_wrap {width: 100%; position: relative; padding: 0 10px; padding-top: 10vh;}
.mo_menu {width: 100%; height: 50px; line-height: 50px;}
.mo_menu:last-child {border-bottom: 3px solid #999;}
.mo_tnb_wrap {width: 100%; padding-left: 10px;}
.mo_tnb {display: block; width: 3vh; height: 3vh; text-align: center;line-height: 3vh; margin: 3vh 0; margin-right: 2vh;}
.mb, .mo_gnb {display: none;}

@keyframes menuSlide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes menuClose {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.mo_skills {width: 100%; display: none; position: relative;}
.mo_skills h2 {display: block; height: 10vh; text-align: center;}
.mo_skills ul {width: 100%; height: 40vh;}
.mo_skill {width: 48vw; height: 38vw; text-align: center; box-sizing: border-box; font-size: 0; margin: 3vh 0;}
.mo_skill:nth-child(1) {background: url(../images/html5.png) no-repeat center; background-size: contain;}
.mo_skill:nth-child(2) {background: url(../images/css3.png) no-repeat center; background-size: contain;}
.mo_skill:nth-child(3) {background: url(../images/jq.png) no-repeat center; background-size: contain;}
.mo_skill:nth-child(4) {background: url(../images/js.png) no-repeat center; background-size: contain;}
.mo_skill:nth-child(5) {background: url(../images/vue.png) no-repeat center; background-size: contain;}

@media only screen and (max-width:767px) {
  #header {display: none;}
  #introduce {height: 100vh;}
  .mb{display: block;}
  .typo {height: 100%; position: absolute;}
  .t-text {line-height: 1.5;}
  .gnb {display: none; width: 100%; max-width: 100%;}


  .cc {height: 200px; width: 80vw; margin: 5vw 10vw;}
  .skills {display: none;}
  .mo_skills {display: block;}
  .p_con {width: 100%; height: 30vh; margin: 0;}
  .p_cover {line-height: 30vh;}
  .comment_wrap h2 {width: 80%; height: 50px; padding: 20px;padding-top: 50px; text-align: left;border-bottom: 5px double; margin: 0 auto; float: none;}
  .faq {float: none; margin: 0 auto;}
  .qna_title {font-size: 13px;}
  .op_answer {width: 30px; height: 30px; margin-top: 20px;}
  .qna_answer {font-size: 13px;}

  /* contact_Wrap */
  .contact_wrap h2 {width: 80%; height: 50px; padding: 20px; text-align: left; border-bottom: 5px double; margin: 0 auto; float: none; padding-top: 50px;}
  .con_method {float: none; margin: 0 auto; padding-top: 30px;}
  #footer {height: 50px; font-size: 15px; line-height: 50px;}
}